<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <connectionStrings>
    <add name="connection" connectionString="Data Source=ACQUAHKCISRAEL;Initial Catalog=Cybersall;Integrated Security=True" />
    <add name="CYBER.Properties.Settings.CybersallConnectionString"
      connectionString="Data Source=ACQUAHKCISRAEL;Initial Catalog=Cybersall;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
